$font_paint: #9ea1ae;
$sidebar-paint: #1e1e2d;
#Dash_board {
  display: flex;
  background: #e7e9f1;
  height: 100vh;

  .sidebar {
    width: 300px;
  }

  .sidebar {
    color: $font_paint;
    background: $sidebar-paint;
  }
}

// NAVBAR
.navbar_main {
  .navbar {
    background-color: white;
    color: black;
    .navbar-brand {
      display: flex;
      align-items: center;
      font-weight: 500;
      span {
        font-size: 18px;
        margin-right: 20px;
        font-weight: 700;
      }
      img {
        height: 35px;
        border-radius: 5px;
      }
    }

    .nav-item {
      .nav-link {
        position: relative;
        .count_ {
          width: 18px;
          height: 18px;
          font-size: 9px;
          color: white;
          background-color: black;
          text-align: center;
          font-weight: bold;
          line-height: 17px;
          border-radius: 50%;
        }
        .count_notification {
          position: absolute;
          top: 51%;
          left: 63%;
        }
        .count_message {
          position: absolute;
          top: -3%;
          left: 63%;
        }
      }
    }
  }
}

// form
.navbar_main form {
  position: relative;
  input {
    width: 343px;
    border-radius: 5px;
    background: #e7e9f1;
  }
  .search_input {
    position: absolute;
    left: 90%;
    top: 28%;
    &:hover {
      cursor: pointer;
    }
  }
}

// =========================================SIDEBAR STYLE ==========================
.sidebar {
  background-color: rgba(30, 30, 45, 1);
  .card-header {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    h5 {
      font-size: 20px;
      font-weight: 700;
    }

    .icons_bar {
      position: relative;
      &:hover {
        cursor: pointer;
        .show_bar {
          visibility: visible;
        }
      }

      .show_bar {
        position: absolute;
        top: 26%;
        left: 84%;
        visibility: hidden;
      }
    }
  }
}

.Menu_bar {
  font-size: 17px;
  background: #1e1e2d;
  a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(219, 214, 214);
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .marketplace_bar {
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: rgb(107, 108, 124);
    }

    ul.marketplace_link {
      padding: 0;
      margin-top: 17px;
      border-bottom: 2px solid #2b2b43;
      margin-bottom: 21px;
      li {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        img {
          width: 22px;
          top: -10%;
          margin-right: 17px;
        }
        a {
          color: rgba(158, 161, 174, 1);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #Dash_board {
    .sidebar {
      width: 0;
      z-index: -1;
      transition: all 0.56s ease-in-out;
    }
  }
}
