@import "./navbar_main_sidebar";
@import "./navbar_main_content";
$font_paint: #9ea1ae;
$sidebar-paint: #1e1e2d;
#Dash_board {
  display: flex;
  background: #e7e9f1;
}

h6 {
  margin-left: 1rem;
  color: #494b74;
  font-size: 16px;
  font-weight: 400;
}

// =============================Responsive Page ======================== @media (max-width: 992px) {
@media (max-width: 992px) {
  .navigation {
    transition: all 0.56s ease-in-out;

    width: 80px !important;
  }
  .show_sidebars {
    width: 300px !important;
    ul h6,
    .accordion span.title span {
      transform: scale(0);
      transition: all 0.56s ease-in-out;
    }
  }
}

@media (max-width: 552px) {
  .navbar {
    .container-fluid {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: flex-end;
      flex-wrap: nowrap;

      form {
        width: 100%;
        input {
          width: 100%;
        }
        img.search_input {
          left: 80%;
        }
      }

      .menu_bar_profile {
        ul.navbar-nav {
          flex-direction: row;
        }
      }
    }
  }

  .status {
    &-saldo,
    &-total_order {
      border-bottom: 1px solid lightblue;
      margin-bottom: 10px;
    }
  }
}
