.login_page {
  .sidebar {
    height: 100vh;
    background-color: #8ab4f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .title_sidebar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .logo {
        margin-top: 90px;
        width: 72px;
        height: 72px;
        font-weight: bold;
        color: white;
        background-color: #f38686;
        line-height: 68px;
        text-align: center;
      }
    }
    .description {
      padding: 20px;
      margin-top: 70px;
      font-size: 25px;
      text-align: center;
      font-weight: 600;
      color: #426dad;
    }
    .image_sidebar {
      img {
        width: 100%;
      }
    }
  }
}

// LOGIN PAGE CONTENT  RIGHT
.page_login_input {
  width: 50%;

  // Content title
  .content_login {
    .title_content {
      h2 {
        font-size: 25px;
      }
      p {
        color: #8a8a8a;
        font-weight: 600;
      }
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  form {
    input {
      background-color: #f3f6f9;
    }
    label {
      font-weight: 600;

      a {
        font-weight: 500;
        font-size: 15px;
      }
    }
    .btn-sign_in {
      width: 94px;
      background-color: #3699ff;
      color: white;
      height: 40px;
      font-weight: 600;
    }
    .btn-google {
      background-color: #e1f0ff;
      color: #3699ff;
      font-size: 14px;
      font-weight: 600;
      img {
        width: 23px;
        margin-right: 4px;
      }
    }
  }
}

// footer

footer {
  font-weight: 600;
  font-size: 15px;
  span {
    margin-right: 20px;
  }
  a {
    margin-right: 20px;

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
