html,
body {
  overflow-x: hidden;
}
.login_page {
  .sidebar {
    height: 100vh;
    background-color: #8ab4f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .title_sidebar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .logo {
        margin-top: 90px;
        width: 72px;
        height: 72px;
        font-weight: bold;
        color: white;
        background-color: #f38686;
        line-height: 68px;
        text-align: center;
      }
    }
    .description {
      padding: 20px;
      margin-top: 70px;
      font-size: 25px;
      text-align: center;
      font-weight: 600;
      color: #426dad;
    }
    .image_sidebar {
      img {
        width: 100%;
      }
    }
  }
}
